<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <a href="/register">
          <button type="button"
            style="border-color: black; background-color: transparent; color: black; border-radius: 5px; padding: 6px; padding-left: 7px; padding-right: 7px; margin-right: 5px; font-weight: 600;">Register
          </button>
        </a>
        <%if (!user) {%>

          <a href="/login">
            <button type="button"
              style="border-color: black; background-color: transparent; color: black; border-radius: 5px; padding: 6px; padding-left: 7px; padding-right: 7px; margin-left: 5px; font-weight: 600;">Login
            </button>
          </a>
          <% } else {%>
            <h4 style="font-size: 20px; padding: 5px; padding-right: 10px; font-weight: 400;"> Logged in as: <%=
                user.email%>!
            </h4>
            <form method="POST" action="/logout">
              <button type="submit"
                style="border-color: black; background-color: transparent; color: black; border-radius: 5px; padding: 6px; padding-left: 7px; padding-right: 7px; margin-right: 5px; font-weight: 600;">Logout
              </button>
            </form>
            <%} %>
      </div>
    </div>
  </nav>
</header>